<h5>*ngIf</h5>

<div *ngIf="mostrarCursos; else bloco">Lista de cursos aqui</div>

<div *ngIf="!mostrarCursos">Não existem cursos para serem listados</div>

<ng-template #bloco>
  <div>Não existem cursos para serem listados</div>
</ng-template>

<br />

<h5><h5>Diretiva if (moderno)</h5></h5>

@if (mostrarCursos) {
  <div>Lista de cursos aqui</div>
} @else {
  <div>Não existem cursos para serem listados</div>
}

<br />

<button (click)="onMostrarCursos()">Mostrar ou esconder curso</button>

<h5>hidden com alternativa</h5>
<div [hidden]="!mostrarCursos">Lista de cursos aqui</div>
<div [hidden]="mostrarCursos">Não existem cursos para serem listados</div>

<h5>Removendo o * e usando template</h5>

<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui.</div>
</ng-template>

