<!-- <h1>
  {{ titulo }}
</h1>

<meu-primeiro-component></meu-primeiro-component>
<app-meu-primeiro2></app-meu-primeiro2>

<app-cursos></app-cursos> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button> -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
  Teste
</app-exemplo-ng-content>

<app-exemplo-ng-content>
  <h5 class="card-title titulo"> Título do Card </h5>
  <p class="card-text corpo"> Conteúdo do Card </p>
</app-exemplo-ng-content> -->

<!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->

<!-- <app-criar-curso></app-criar-curso>
<br><br>
<app-cursos-servico></app-cursos-servico> -->

<!-- <app-exemplos-pipes></app-exemplos-pipes> -->

<!-- <mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a routerLink=""> Logotipo </a>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <ul>
      <li>
        <a href="/login"
        [routerLinkActive]="'active'"
        >Login</a>
      </li>
      <li>
        <a [routerLink]="'/cursos'">Cursos</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div> -->

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="">Rotas Ng2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cursos">Cursos</a>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
