<!-- <h1>
  {{ titulo }}
</h1>

<meu-primeiro-component></meu-primeiro-component>
<app-meu-primeiro2></app-meu-primeiro2>

<app-cursos></app-cursos> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button> -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
  Teste
</app-exemplo-ng-content>

<app-exemplo-ng-content>
  <h5 class="card-title titulo"> Título do Card </h5>
  <p class="card-text corpo"> Conteúdo do Card </p>
</app-exemplo-ng-content> -->

<!-- <app-diretivas-customizadas></app-diretivas-customizadas> -->


<app-criar-curso></app-criar-curso>
<br><br>
<app-cursos-servico></app-cursos-servico>
